@use './styles.scss';

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 20px;
  justify-content: space-around;
  align-items: start;

  .projectCard {
    margin: 20px;
    background-color: red;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .projectModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 100;

    button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
}
